# SUPERUSER PASSWD = password

DB_USER=username
DB_PASSWORD=password
POSTGRES_DB=schedule_db
DB_NAME=schedule_db
DB_HOST=db
DB_PORT=5432
DATABASE_URL=postgres://username:password@db:5432/schedule_db

# FOR PRODUCTION
DJANGO_SECRET_KEY = 'django-insecure--lw*tfwsn)&e#jzann@spi@i*x@khllub6r-fmy^af0g9^6e3i'